
/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.item{
	height:60px;
	width: 60px;
}

.item-1{
	background-color: green;
}

.item-2{
	background-color: red;
}

.item-3{
	background-color: blue;
}